<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%= wechat_config_js debug: false, api: %w(closeWindow) -%>

<div class="weui-msg">
  <div class="weui-msg__text-area">
    <h1 class="weui-msg__title">Sign Up</h1>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="weui-cells_title">Following fields is required</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <%= f.label :birthday, class: 'weui-label' %>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.date_field :birthday, class: 'weui-input' %>
      </div>
    </div>
  </div>
  <div class="weui-btn-area">
    <%= f.submit "Confirm", class: 'weui-btn weui-btn_primary' %>
    <a href="javascript:wx.closeWindow();" class="weui-btn weui-btn_plain_default">Close</a>
  </div>
<% end %>
